@mixin d-flex($jc: center, $ai: center, $gp: 0px, $fd: column) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gp;
    flex-direction: $fd;
}

@mixin font-red-rose($fw: 700, $fs: 16px) {
    font-family: 'Red Rose';
    font-weight: $fw;
    font-size: $fs;
}

@mixin font-almarai($fw:400, $fs: 48px) {
    font-family: 'Almarai';
    font-weight: $fw;
    font-size: $fs;
}

@mixin font-figtree($fw: 700, $fs:32px) {
    font-family: 'Figtree';
    font-weight: $fw;
    font-size: $fs;
}

@mixin font-delius-unicase($fw:700, $fs:16) {
    font-family: 'Delius Unicase';
    font-weight: $fw;
    font-size: $fs;
}

@mixin font-klee-one($fw: 600, $fs:32px) {
    font-family: 'Klee One';
    font-weight: $fw;
    font-size: $fs;
}