@use '../abstract/mixins' as mx;

.game-header {
    &--da-projects{
        background-color: rgba(240, 243, 244, 1);
    }
}

.visual-score {
    &--da-projects {
        @include mx.font-figtree($fs: 30px);
    }
}

.current-player {
    &__title {
        &--da-projects {
            @include mx.font-figtree();
            color: rgba(30, 117, 148, 1);
        }
    }
}

.exit-btn {
    &-da-projects {
        background-color: rgba(191, 229, 242, 1);

        &__svg {
            width: 30px;
            height: 30px;
        }

        &__text {
            @include mx.font-figtree($fs: 20px);
            color: rgba(30, 117, 148, 1);
        }
    }
}

.game-main-content {
    &--da-projects16 {
        width: 528px;
    }

    &--da-projects24 {
        width: 100%;
    }

    &--da-projects36 {
        width: 100%;
    }
}

.card-da-project {
    cursor: pointer;
    width: 120px;
    height: 100px;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        >img {
            width: 100%;
            height: 100%;
        }

        &--bck {
            transform: rotateY(180deg);
        }
    }

    &.is-flipped .card-da-project__inner {
        transform: rotateY(180deg);
    }
}

.game-body-overlay__card{
    &--da-projects{
        background-color: rgba(240, 246, 249, 1);
    }
    &__title {
        &--da-projects {
            @include mx.font-figtree($fw: 700, $fs: 28px); 
            text-align: center;
            color: rgba(41, 79, 96, 1);
        }
    }
    &__bck-btn {
        &--da-projects {
            border-width: 0;
            background-color: rgba(191, 229, 242, 1);
            @include mx.font-figtree($fs:16px);
            color: rgba(30, 117, 148, 1);
            box-shadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
        }
    }

    &__ext-btn {
        &--da-projects {
            border-width: 0;
            background-color: rgba(253, 138, 129, 1);
            @include mx.font-figtree($fs:16px);
            color:rgba(255, 255, 255, 1);
            box-shadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
        }
    }
}