@use '../abstract/mixins' as mx;

.game-header {
    &--foods {
        background-color: rgba(240, 229, 217, 1);
    }
}

.visual-score {
    &--foods {
        @include mx.font-delius-unicase($fs: 30px);
        background-color: rgba(255, 255, 255, 1);
    }

    &__endscreen {
        &--foods {
            @include mx.d-flex($fd: row, $gp: 40px);
            padding: 0 16px;
            height: 76px;
        }
    }
}

.current-player {
    &__title {
        &--foods {
            @include mx.font-klee-one($fs: 32px);
            color: rgba(164, 82, 18, 1);
        }
    }
}

.exit-btn {
    &-foods {
        background-color: rgba(255, 249, 242, 1);
        border: 3px solid rgba(243, 131, 45, 1) !important;

        &__svg {
            width: 22px;
            height: 22px;

            & path {
                fill: rgba(243, 131, 45, 1);
            }
        }

        &__text {
            @include mx.font-delius-unicase();
            color: rgba(243, 131, 45, 1);
        }
    }
}

.game-main-content {
    &--foods16 {
        width: 536px;
    }

    &--foods24 {
        width: 772px;
    }

    &--foods36 {
        width: 772px;
    }
}

.card-foods {
    cursor: pointer;
    width: 122px;
    height: 120px;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;

        >img {
            width: 100%;
            height: 100%;
        }

        &--bck {
            transform: rotateY(180deg);
        }
    }

    &.is-flipped .card-foods__inner {
        transform: rotateY(180deg);
    }
}

.game-body-overlay__card {
    &--foods {
        background-color: rgba(246, 246, 246, 1);
    }

    &__title {
        &--foods {
            @include mx.font-klee-one($fw: 600, $fs: 28px);
            text-align: center;
            color: rgba(164, 82, 18, 1);
        }
    }

    &__bck-btn {
        &--foods {
            border: 3px solid rgba(243, 131, 45, 1);
            background-color: rgba(255, 171, 62, 1);
            @include mx.font-delius-unicase();
            color: rgba(255, 255, 255, 1);
        }
    }

    &__ext-btn {
        &--foods {
            border: 3px solid rgba(243, 131, 45, 1);
            background-color: rgba(255, 249, 242, 1);
            @include mx.font-delius-unicase();
            color: rgba(243, 131, 45, 1);
        }
    }
}

.end-screen {
    @include mx.d-flex($gp: 104px);

    &__title {
        &--foods {
            @include mx.font-klee-one($fs: 130px);
            color: #FFFFFF;
        }
    }

    &__card {
        &__title {
            &--foods {
                @include mx.font-klee-one($fs: 42px);
                color: #FFFFFF;
            }
        }

        &__visual-score {
            &--foods {
                @include mx.d-flex($fd: row, $gp:8px);
            }
        }

        &__count {
            @include mx.font-red-rose($fw: 700, $fs: 40px); 

            
        }
    }
}

.winner-screen {
    @include mx.d-flex($gp:64px);
    text-align: center;
    &__header {
        @include mx.d-flex($gp: 8px);
        color: #A45212;

        >p {
            @include mx.font-klee-one($fw: 400, $fs: 40px);
        }
        >h1 {
            @include mx.font-klee-one($fw: 600, $fs: 80px);
        }
    }

    &__home-btn {
        cursor: pointer;
        padding: 12px 20px;
        background-color: #F3832D;
        border-width: 0;
        border-radius: 10px;
        &__title {
            @include mx.font-delius-unicase();
            color: #FFFFFF;
        }
    }
}