@use './base/font/fonts';
@use './pages/landing-page';
@use './pages/settings-page';
@use './pages/game-page';


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

.d_none {
    display: none;
}

